@import "../../assets/style/global.scss";
.success_page {
  .user_bg {
    top: -170px;
  }
}

.success_body {
  background-color: #fff;
  height: calc(100vh - 455px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .success {
    height: 160px;
    width: 160px;
  }
  .title {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #333;
    font-weight: bold;
  }
  .info {
    color: #999;
    font-size: 28px;
    &.bold {
      color: #333;
    }
  }
  .btn_group {
    display: flex;
    margin-top: 120px;
    align-items: center;
    .deail_btn {
      width: 200px;
      padding: 10px 0;
      color: #fff;
      text-align: center;
      border-radius: 30px;
      background-color: $red;
      margin-right: 20px;
    }
    .fans {
      width: 450px;
    }
  }
}
.public_btn {
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid $red;
  background-color: $red;
  margin-left: 20px;
  color: #fff;
  height: auto;
  line-height: inherit;
}
