@import "../../assets/style/global.scss";
.order_card {
  font-size: 28px;
  padding: 20px 0;
  border-radius: 22px;
  background-color: #fff;
  margin-bottom: 30px;
  .head {
    display: flex;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
    .num {
      color: #999;
    }
    .status {
      color: $red;
      margin-left: auto;
      text-align: right;
      .status_extra {
        font-size: 20px;
      }
    }
  }
  .body {
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    .col {
      view {
        margin-bottom: 20px;
      }
    }
  }
  .toDetail {
    display: flex;
    justify-content: flex-end;
    .buttonGroup{
      display: flex;
      justify-content: flex-end;
    }
    .buttonView {
      font-size: 28px;
      width: 200px;
      margin-right: 20px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $red;
      color: #fff !important;
      border-radius: 30px;
      &.disabled{
        background-color: #999;
        opacity: 0.7;
      }
    }
  }
}
