@import "../../assets/style/global.scss";

.order_page {
  // height: 100vh;
  background-color: #f5f5f5;
}
page {
  background-color: #f5f5f5;
}

.userDeatil {
  overflow: unset;
  .userInfo {
    margin-left: 20px;
  }
}
.order_body {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  /*隐藏滚动条*/
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
  .at-tabs__header {
    background-color: transparent;
    .at-tabs__item {
      color: $red;
      &.at-tabs__item--active {
        font-weight: bold;
      }
      .at-tabs__item-underline {
        background-color: $red;
        width: 20px;
        left: 44px;
        height: 4px;
      }
    }
  }
  .order_content {
    // height: calc(100vh - 186px);
    margin-top: 20px;
  }
}
.noData {
  padding: 160px 80px;
  height: calc(100vh - 600px);
  image {
    width: 100%;
    height: 200px;
  }
}
.loadMore {
  .at-button {
    border: none;
  }
  .at-button__text {
    font-size: 28px;
  }
}
.attextarea {
  color: #999;
  background-color: #f9f9f9;
  text-align: left;
  padding: 20px;
  border: none;
  border-radius: 20px;
}
.textareaView {
  height: 337px;
  color: #999;
  font-size: 28px;
  background-color: #f9f9f9;
  text-align: left;
  padding: 20px;
  border: none;
  border-radius: 20px;
}

.public_btn {
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid $red;
  background-color: $red;
  margin-left: 20px;
  color: #fff;
  height: auto;
  line-height: inherit;
}
