@import "../../assets/style/global.scss";
//基础布局
$themeColor: #fff;

.pickersection {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 1px;
  align-items: center;
  padding: 24px 0;
  font-size: 28px;
  border-bottom: 1px solid #d6e4ef;
  .pickerLabel {
    width: 172px;
    margin-right: 16px;
  }
  .picker.noregion {
    color: #999;
  }
  .picker {
    color: #333;
    width: 300px;
  }
  .arrow {
    height: 30px;
    width: 16px;
    margin-left: auto;
    image {
      width: 100%;
      height: 100%;
    }
  }
}
.detector_switch {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 1px;
  padding: 24px 0;
  font-size: 28px;
  border-bottom: 1px solid #d6e4ef;
  .switch_group {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    .switch_item {
      display: flex;
      flex-direction: row;
      margin-left: 40px;
      .switch {
        height: 40px;
        width: 40px;
        background-color: #f5f5f5;
        border-radius: 50%;
        position: relative;
        margin-left: 10px;

        &.active {
          background-color: $red;
          &::after {
            width: 10px;
            height: 24px;
            border-style: solid;
            border-color: #fff;
            border-width: 0 4px 4px 0;
            -webkit-transform: rotateZ(45deg);
            content: " ";
            left: 13px;
            top: 5px;
            position: absolute;
          }
        }
      }
    }
  }
}

.home_page {
  height: 100vh;
  .userDeatil {
    padding: 40px 0 30px 0;
  }
  .user_bg {
    width: 100%;
  }
  .circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    margin-left: 12px;
    text-align: center;
    background: #af0152;
    display: inline-block;
  }
}
.tip {
  padding: 44px 64px 84px 64px;
  background: #af0152;
  color: #fff;
  .title {
    font-size: 56px;
    &:nth-last-of-type(1) {
      margin-bottom: 16px;
    }
  }
  .des {
    font-size: 24px;
  }
}
.home_body {
  position: relative;
  top: -30px;
  background-color: #f5f5f5;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 40px;
  margin-bottom: 40px;
  .at-form {
    background-color: #fff;
    border-radius: 22px;
    &::after {
      border-top-width: 0;
    }
    .at-input {
      background-color: transparent;
      margin-left: 24px;
      margin-right: 24px;
      .at-input__title {
        font-size: 28px;
      }
      input {
        font-size: 28px;
        color: #333;
      }
    }
  }
}
.textTitle {
  padding: 30px 0px;
  margin-left: 24px;
  margin-right: 24px;
}
.home_banner {
  height: 380px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  .swiper_compon {
    height: 400px;
  }
}
.textarea {
  margin-left: 24px;
  margin-right: 24px;
  color: #333;
  font-size: 28px;
  border: none;
  width: auto;
}
.textareaView {
  margin-left: 24px;
  margin-right: 24px;
  padding: 18px;
  color: #333;
  font-size: 28px;
  height: 180px;
  overflow: auto;
  border: none;
  width: auto;
}

.sheet_btn {
  margin: 50px 0;
  width: 100%;
  background-color: $red;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  border-radius: 30px;
  margin-bottom: 150px;
  &.loading {
    opacity: 0.5;
  }
}
.dots {
  height: 40px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30px;
  right: 30px;
}

/*未选中时的小圆点样式 */

.dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 20px;
  background-color: rgba($color: $red, $alpha: 0.4);
}

/*选中以后的小圆点样式  */

.active {
  width: 60px;
  height: 20px;
  background-color: $red;
}
