.modal {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  z-index: 100;
  .content {
    max-height: 70%;
    overflow: auto;
    position: absolute;
    padding: 60px 60px 150px 60px;
    left: 0;
    background: #fff;
    border-radius: 40px 40px 0 0;
    transition: 1s;
    .title {
      font-size: 32px;
      margin-bottom: 32px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .close {
        width: 32px;
      }
    }
    .des {
      font-size: 24px;
      color: #333;
      margin-bottom: 26px;
    }
    .image {
      width: 100%;
    }
  }
}

.show {
  visibility: visible;
  .content {
    bottom: 0;
  }
}

.hide {
  visibility: hidden;
  .content {
    bottom: -2000px;
  }
}
